<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Browse Artifacts</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="browse-rooms">
    <ion-grid *ngIf="test === 'A'" class="a">
        <ion-row>
            <ion-col *ngFor="let room of rooms" col-12 col-md-6>
                <ion-card>
                    <div class="room-label" [ngClass]="'room-' + room.color" (click)="roomClicked(room)">
                        {{ room.name }}
                    </div>
                    <ion-row>
                        <ion-col>
                            <button ion-button icon-left clear (click)="roomInfo(room, $event)">
                                <ion-icon name="information-circle"></ion-icon>
                                About
                            </button>
                        </ion-col>
                        <ion-col text-right>
                            <button ion-button icon-right (click)="roomClicked(room)">
                                Enter
                                <ion-icon name="arrow-forward"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="test === 'B'" class="b">
        <ion-row>
            <ion-col *ngFor="let room of rooms" col-12 col-md-6>
                <div class="room-card" [ngClass]="'room-' + room.color" (click)="roomClicked(room)">
                    <div class="room-card-label">{{ room.name }}</div>
                    <div class="room-card-icon"><ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon></div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="test === 'C'" class="c">
        <ion-row>
            <ion-col *ngFor="let room of rooms" col-12 col-md-6>
                <div class="room-card" [ngClass]="'room-' + room.color" (click)="roomClicked(room)">
                    <div class="room-card-label">{{ room.name }}</div>
                    <div class="room-card-icon"><ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon></div>
                    <button ion-button icon-only clear class="info-button" [ngClass]="'room-' + room.color" (click)="roomInfo(room, $event)">
                        <ion-icon ios="ios-information-circle-outline" md="ios-information-circle-outline"></ion-icon>
                    </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="test === 'D'" class="d">
        <ion-row>
            <ion-col *ngFor="let room of rooms" col-12 col-md-6>
                <div class="room-card" [ngClass]="'room-' + room.color" (click)="roomClicked(room)">
                    <div class="room-card-label">{{ room.name }}</div>
                    <button ion-button icon-only clear class="info-button" [ngClass]="'room-' + room.color" (click)="roomInfo(room, $event)">
                        <ion-icon ios="ios-information-circle-outline" md="ios-information-circle-outline"></ion-icon>
                    </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!--TODO DELETE THIS-->
<ion-footer>
    <ion-toolbar>
        <button ion-button (click)="test = 'A'">A</button>
        <button ion-button (click)="test = 'B'">B</button>
        <button ion-button (click)="test = 'C'">C</button>
        <button ion-button (click)="test = 'D'">D</button>
    </ion-toolbar>
</ion-footer>
