<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Browse Artifacts</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="browse-rooms">

    <div style="height: 100%; display: flex; flex-direction: column;">
        <div *ngFor="let room of rooms" class="room-test" [ngClass]="'room-' + room.color" (click)="roomClicked(room)">
            <div>{{ room.name }}</div>
        </div>
    </div>

</ion-content>
