.browse-rooms {

    .room-test {
        flex: 1 0 0;
        font-family: DukeFill;
        margin: 5px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10vw;
        box-shadow: 0 15px 10px -10px rgba(0,0,0,0.4);

        &:active {
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
        }
    }
}
