<ion-header>
    <ion-navbar [color]="room.color">
        <ion-title>{{ artifact.name }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div class="small-carousel-wrapper">
        <div class="small-carousel-content">

            <ion-slides #slider [style.background-color]="artifact.background" [zoom]="false" [effect]="'slide'"
                        [pager]="artifact.pictures.length > 1" (ionSlideDidChange)="onSlideChanged()">

                <ion-slide *ngFor="let picture of artifact.pictures">
                    <img [src]="'assets/pictures/' + picture + '.jpg'" imageViewer>
                </ion-slide>

            </ion-slides>

            <div *ngIf="currentIndex > 0 && artifact.pictures.length > 1" class="swiper-button-prev swiper-button-white" (click)="previousSlide()"></div>
            <div *ngIf="currentIndex < artifact.pictures.length-1 && artifact.pictures.length > 1" class="swiper-button-next swiper-button-white" (click)="nextSlide()"></div>

        </div>
    </div>

    <h1 padding-left padding-right text-center>{{ artifact.name }}</h1>

    <div text-center padding-bottom>
        <span class="chip" [ngClass]="'room-' + room.color">{{ artifact.number }}</span>
    </div>

    <div padding-left padding-right padding-bottom>
        <p *ngFor="let paragraph of artifact.description" class="description">{{ paragraph }}</p>
    </div>

</ion-content>

<ion-footer>
    <audio-player [file]="artifact.audio"></audio-player>
    <ion-toolbar color="dark">
        <ion-buttons left>
            <button ion-button icon-start>
                <ion-icon name="arrow-back"></ion-icon>
                Previous Artifact
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-end>
                Next Artifact
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
