<ion-header>
    <ion-navbar [color]="exhibit.color">
        <ion-title>{{ artifact.name }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="artifact">

    <div>
        <div class="small-carousel-wrapper">
            <div class="small-carousel-content">

                <ion-slides #slider [zoom]="false" [effect]="'slide'" [pager]="true" (ionSlideWillChange)="onSlideChanged()">

                    <ion-slide *ngFor="let picture of artifact.pictures">
                        <img [src]="'assets/pictures/' + picture + '.jpg'" imageViewer>
                    </ion-slide>

                </ion-slides>

                <div *ngIf="currentIndex > 0" class="swiper-button-prev swiper-button-white" (click)="previousSlide()"></div>
                <div *ngIf="currentIndex < artifact.pictures.length-1" class="swiper-button-next swiper-button-white" (click)="nextSlide()"></div>

            </div>
        </div>

        <h1 text-center>{{ artifact.name }}</h1>

        <div padding class="artifact-description">{{ artifact.description }}</div>
    </div>

</ion-content>
