.artifact, .continuous-exhibits {
    .artifact-description {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    ion-slides {
        background-color: white;
    }

    .small-carousel-wrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%; //16:9 aspect ratio

        @media screen and (orientation:landscape) {
            padding-top: 30%;
        }

        .small-carousel-content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right:0;
        }

        //internal ionic class, force images to scale
        .slide-zoom {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .audio-wrapper {
        display: flex;

        .control-wrapper {
            flex-shrink: 0;
        }

        .progress-bar-wrapper {
            flex: 1;
            display: flex;

            audio-track-progress-bar {
                flex: 1;
            }
        }
    }

    audio {
        width: 100%;
    }
}
