<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Audio Tour</ion-title>
    </ion-navbar>
</ion-header>


<ion-content #content class="continuous-exhibits">

    <div class="small-carousel-wrapper">
        <div class="small-carousel-content">

            <ion-slides #slider [style.background-color]="currentArtifact.background" [zoom]="false" [effect]="'slide'"
                        [pager]="currentArtifact.pictures.length > 1" (ionSlideDidChange)="onSlideChanged()">

                <ion-slide *ngFor="let picture of currentArtifact.pictures">
                    <img [src]="'assets/pictures/' + picture + '.jpg'" imageViewer>
                </ion-slide>

            </ion-slides>

            <div *ngIf="currentPictureIndex > 0 && currentArtifact.pictures.length > 1" class="swiper-button-prev swiper-button-white" (click)="previousSlide()"></div>
            <div *ngIf="currentPictureIndex < currentArtifact.pictures.length-1 && currentArtifact.pictures.length > 1" class="swiper-button-next swiper-button-white" (click)="nextSlide()"></div>

        </div>
    </div>

    <h1 text-center>{{ currentArtifact.name }}</h1>

    <div padding-left padding-right padding-bottom class="artifact-description">{{ currentArtifact.description }}</div>

</ion-content>


<ion-footer class="continuous-exhibits">
    <ion-toolbar color="dark">
        <audio-track #audioTrack [track]="currentTrack">
            <div class="audio-wrapper" padding-left padding-right>
                <audio-track-play [audioTrack]="audioTrack"><ion-spinner></ion-spinner></audio-track-play>
                <div class="progress-bar-wrapper">
                    <audio-track-progress-bar duration progress [audioTrack]="audioTrack"></audio-track-progress-bar>
                </div>
            </div>
        </audio-track>
    </ion-toolbar>
    <ion-toolbar color="dark">
        <ion-buttons left>
            <button ion-button icon-start [hidden]="!hasPreviousArtifact()" (click)="previousArtifact()">
                <ion-icon name="arrow-back"></ion-icon>
                Previous Artifact
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-end [hidden]="!hasNextArtifact()" (click)="nextArtifact()">
                Next Artifact
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
