<ion-header>
    <ion-navbar color="dark">
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <p *ngFor="let paragraph of exhibit.description" class="description">{{ paragraph }}</p>
</ion-content>

<ion-footer>
    <audio-player [file]="exhibit.audio"></audio-player>
</ion-footer>
