<ion-content padding>

    <div class="home-page-wrapper">
        <div class="title">
            COURAGE FROM ABOVE
        </div>

        <div class="nav-wrapper">
            <div class="nav-chip" (click)="goToIndividualExhibits()">
                <div class="nav-title-wrapper">
                    <div class="nav-title">Browse Artifacts</div>
                    <div class="nav-subtitle">Browse Individual Artifacts</div>
                </div>
                <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
            </div>

            <div style="width: 16px"></div>

            <div class="nav-chip" (click)="goToContinuousExhibits()">
                <div class="nav-title-wrapper">
                    <div class="nav-title">Audio Tour</div>
                    <div class="nav-subtitle">Take a guided walk-through of the entire exhibit</div>
                </div>
                <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
            </div>
        </div>
    </div>

</ion-content>
