home-page {

    ion-content::after {
        content: "";
        background: url("../assets/pictures/crew.jpg") center;
        background-size: cover;
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }

    .home-page-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-family: DukeFill;
            font-size: 25vw;
            text-align: center;
        }

        @media (min-width: 768px) {
            .title {
                line-height: 0.9;
            }
        }

        .nav-wrapper {
            display: flex;
            flex-direction: column;
        }

        @media (min-width: 768px) {
            .nav-wrapper {
                flex-direction: row;
            }
        }

        @media (max-width: 767px) {
            .nav-chip {
                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }

        .nav-chip {
            display: flex;
            flex: 1 1 50%;
            align-items: center;
            border: 1px solid black;
            padding: 8px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.3);

            .nav-title-wrapper {
                flex-grow: 1;
                margin-right: 10px;

                .nav-title {
                    font-size: 5vw;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                @media (min-width: 768px) {
                    .nav-title {
                        font-size: 3vw;
                    }
                }
            }

            ion-icon {
                font-size: 36px;
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}
