<ion-content padding>

    <div class="home-page-wrapper">
        <div class="title" [@slideUp]>
            COURAGE FROM ABOVE
        </div>

        <div class="button-bar-wrapper" [@fadeIn]>
            <div class="button-row">
                <button ion-button class="primary" (click)="goToAudioTourPage()">Audio Tour</button>
                <button ion-button class="primary" (click)="goToBrowseRoomsPage()">Browse Artifacts</button>
            </div>

            <div class="button-row">
                <button ion-button icon-start small class="secondary" (click)="goToAboutPage()">
                    <ion-icon ios="ios-information-circle-outline" md="ios-information-circle-outline"></ion-icon>
                    About
                </button>
            </div>
        </div>
    </div>

</ion-content>
