.audio-tour {
    .intro {
        ion-icon {
            font-size: 50vw;
            color: rgba(0, 0, 0, 0.5);
        }

        .intro-text {
            max-width: 425px;
            margin: auto;
            line-height: 1.5;
        }
    }
}
