<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Audio Tour</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="audio-tour">
    <div padding *ngIf="showIntro">
        <div text-center>
            <ion-icon name="volume-up" class="intro"></ion-icon>
        </div>
        <div text-center>
            <h1>Audio Tour</h1>
        </div>
        <div class="intro-text description">
            <!--TODO UPDATE THSI TEXT-->
            The audio tour will take you on a step-by-step walk-through of the entire exhibit, while playing a narration
            and showing details about the various artifacts. You can skip artifacts or pause the tour at anytime by
            using the controls at the bottom of the screen.
        </div>
        <div text-center margin-top>
            <button ion-button (click)="beginTour()">Begin Audio Tour</button>
        </div>
    </div>
    <div *ngIf="!showIntro">

        <div class="now-playing">Now Playing</div>

        <div class="context-wrapper">
            <ion-card *ngIf="currentExhibit" class="exhibit" [@slideInOut]="slideState">
                Courage From Above
            </ion-card>

            <ion-card *ngIf="currentRoom && !currentArtifact" class="room" [ngClass]="'room-' + currentRoom.color" [@slideInOut]="slideState">
                {{ currentRoom.name }}
            </ion-card>

            <ion-card *ngIf="currentArtifact" class="artifact">
                <div class="picture" [ngStyle]="{'background': 'url(assets/pictures/' + currentArtifact.pictures[0] + '.jpg) no-repeat center/contain'}"></div>
                <div class="artifact-name" text-center>{{ currentArtifact.name }}</div>
                <div class="chip-wrapper">
                    <div class="chip" [ngClass]="'room-' + currentRoom.color">{{ currentArtifact.number }}</div>
                </div>
            </ion-card>
        </div>

        <div class="button-wrapper">
            <button ion-button icon-only large [disabled]="!hasPreviousClip()" (click)="previousClip()">
                <ion-icon name="skip-backward"></ion-icon>
            </button>

            <button ion-button icon-left large>
                <ion-icon name="pause"></ion-icon>
                Pause
            </button>

            <button ion-button icon-only large [disabled]="!hasNextClip()" (click)="nextClip()">
                <ion-icon name="skip-forward"></ion-icon>
            </button>
        </div>
    </div>
</ion-content>
