<ion-header>
    <ion-navbar [color]="room.color">
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{ room.name }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <p *ngFor="let paragraph of room.description" class="description">{{ paragraph }}</p>
</ion-content>

<ion-footer>
    <ion-toolbar color="dark">
        <audio-track #audioTrack [track]="track">
            <div class="audio-wrapper">
                <audio-track-play [audioTrack]="audioTrack"><ion-spinner></ion-spinner></audio-track-play>
                <div class="progress-bar-wrapper">
                    <audio-track-progress-bar duration progress [audioTrack]="audioTrack"></audio-track-progress-bar>
                </div>
            </div>
        </audio-track>
    </ion-toolbar>
</ion-footer>
