<ion-header>
    <ion-navbar [color]="room.color">
        <ion-buttons end *ngIf="room.description.length > 0">
            <button ion-button outline (click)="roomInfo($event)">
                About
            </button>
        </ion-buttons>
        <ion-title>{{ room.name }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let artifact of room.artifacts" (click)="artifactClicked(artifact)">
            <ion-thumbnail item-start [ngStyle]="{'background': 'url(assets/pictures/' + artifact.pictures[0] + '-thumb.jpg) no-repeat center/contain'}">
            </ion-thumbnail>
            <h2 style="text-overflow: ellipsis; overflow: hidden;">{{ artifact.name }}</h2>
            <p>{{ artifact.number }}</p>
        </button>
    </ion-list>
</ion-content>
