<ion-header>
    <ion-navbar [color]="room.color">
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{ room.name }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <p *ngFor="let paragraph of room.description" class="description">{{ paragraph }}</p>
</ion-content>

<ion-footer>
    <audio-player [file]="room.audio"></audio-player>
</ion-footer>
