$exhibit-blue: rgb(135, 211, 225);
$exhibit-blue-contrast: rgb(0, 0, 0);

$exhibit-green: rgb(97, 112, 64);
$exhibit-green-contrast: rgb(255, 255, 255);

$exhibit-yellow: rgb(229, 214, 96);
$exhibit-yellow-contrast: rgb(0, 0, 0);

$exhibit-brown: rgb(125, 90, 62);
$exhibit-brown-contrast: rgb(255, 255, 255);

$exhibit-orange: rgb(241, 154, 103);
$exhibit-orange-contrast: rgb(0, 0, 0);

$exhibit-red: rgb(232, 54, 40);
$exhibit-red-contrast: rgb(255, 255, 255);
