// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/colors";

@font-face {
    font-family: DukeFill;
    src: url("../assets/font/Duke Fill.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: 300;
    src: url("../assets/font/Futura-Light.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: 500;
    src: url("../assets/font/Futura-Medium.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: 600;
    src: url("../assets/font/Futura-Demi.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: 700;
    src: url("../assets/font/Futura-Bold.otf") format("opentype");
}

.room-blue {
    background-color: $exhibit-blue;
    color: $exhibit-blue-contrast;
}

.room-brown {
    background-color: $exhibit-brown;
    color: $exhibit-brown-contrast;
}

.room-green {
    background-color: $exhibit-green;
    color: $exhibit-green-contrast;
}

.room-orange {
    background-color: $exhibit-orange;
    color: $exhibit-orange-contrast;
}

.room-red {
    background-color: $exhibit-red;
    color: $exhibit-red-contrast;
}

.room-yellow {
    background-color: $exhibit-yellow;
    color: $exhibit-yellow-contrast;
}
