@import "../theme/colors";

@font-face {
    font-family: DukeFill;
    src: url("../assets/font/Duke Fill.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: 300;
    src: url("../assets/font/Futura-Light.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: 400;
    src: url("../assets/font/Futura-Book.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: 500;
    src: url("../assets/font/Futura-Medium.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: 600;
    src: url("../assets/font/Futura-Demi.otf") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: 700;
    src: url("../assets/font/Futura-Bold.otf") format("opentype");
}

.room-blue {
    background-color: $exhibit-blue;
    color: $exhibit-blue-contrast;
}

.room-brown {
    background-color: $exhibit-brown;
    color: $exhibit-brown-contrast;
}

.room-green {
    background-color: $exhibit-green;
    color: $exhibit-green-contrast;
}

.room-orange {
    background-color: $exhibit-orange;
    color: $exhibit-orange-contrast;
}

.room-red {
    background-color: $exhibit-red;
    color: $exhibit-red-contrast;
}

.room-yellow {
    background-color: $exhibit-yellow;
    color: $exhibit-yellow-contrast;
}

.audio-wrapper {
    display: flex;

    .control-wrapper {
        flex-shrink: 0;
    }

    .progress-bar-wrapper {
        flex: 1;
        display: flex;

        audio-track-progress-bar {
            flex: 1;
        }
    }

    time {
        color: white;
    }
}

.description {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.7;
}

ion-slides {
    background-color: white;
}

.small-carousel-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; //16:9 aspect ratio

    @media screen and (orientation:landscape) {
        padding-top: 30%;
    }

    .small-carousel-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
    }

    //internal ionic class, force images to scale
    .slide-zoom {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

h1 {
    margin-top: 1rem;
}

.chip {
    padding: 5px 16px;
    border-radius: 14px;
}
